<div class="fullheight" layout="column">
  <div flex="auto">
    <div class="breadcrumbs-container">
      <div class="table-name-and-filter">
        <span>{{tableName}}</span>
      </div>
      <div layout-align="end center" layout="row">
        <!--Сделано чтобы не давать фокус при загрузке инпуту поиска-->
        <a tabindex="1">
        </a>
        <td-custom-search-box
          #searchBox
          backIcon="arrow_forward"
          placeholder="Фильтр"
          [showUnderline]="true"
          (searchDebounce)="filter($event)"
          flex
        ></td-custom-search-box>
        <div *ngIf="!isDialogView">
          <button *ngIf="menuItemList.length && !isDialogView" type="button" mat-icon-button matTooltip="Список функций"
                  [matMenuTriggerFor]="registryMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #registryMenu="matMenu">
            <button type="button" mat-menu-item *ngFor="let menuItem of menuItemList"
                    (click)="menuItemClick($event, menuItem)">{{menuItem.name}}</button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
  <div flex="grow">
    <mat-sidenav-container autosize class="table-container">
      <mat-sidenav-content>
        <div layout="column" layout-align="start stretch" layout-fill>
          <div flex="grow">
            <div class="layout-scroll-container">
              <div class="layout-scroll-container-inner">
                <div class="layout-scroll-content display-table-view">
                  <div class="loader-container"
                       *tdLoading="loaderName; mode:'indeterminate'; type:'circle'; strategy:'overlay';">
                    <div class="layout-scroll-container">
                      <div class="layout-scroll-container-inner">
                        <div class="layout-scroll-content display-table-container">
                          <div class="data-table">
                            <sb-data-table
                              *ngIf="filteredData && (getDictsTableData() && dicts || !getDictsTableData())"
                              #dataTable
                              [clickable]="clickable"
                              [data]="filteredData"
                              [columns]="columns"
                              [selectable]="selectable"
                              [multiple]="multiple"
                              [sortable]="true"
                              [sortBy]="sortBy"
                              [value]="selectedRows"
                              [sortOrder]="sortOrder"
                              (sortChange)="sort($event)"
                              [iconColumn]="iconColumn"
                              [callerComponent]="this"
                              [iconImg]="iconImg"
                              [iconAction]="iconAction"
                              [iconTooltip]="iconTooltip"
                              [iconColor]="iconColor"
                              (rowDoubleClick)="rowDoubleClick($event)"
                            >
                              <ng-template *ngFor="let menuItemAdditional of additionalMenuItems"
                                           sbDataTableTemplate="{{menuItemAdditional.name}}" let-row="row">
                                <div layout="row">
                                  <button matTooltip="{{menuItemAdditional.tooltip}}"
                                          (click)="menuItemAdditional.func(row)" mat-button>
                                    <mat-icon color="accent">{{menuItemAdditional.icon}}</mat-icon>
                                  </button>
                                </div>
                              </ng-template>
                            </sb-data-table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div flex="auto">
            <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
              <span hide-xs>Записей на странице:</span>
              <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                <mat-option *ngFor="let size of [25, 50, 100, 150]" [value]="size">
                  {{ size }}
                </mat-option>
              </mat-select>
              {{ pagingBar.range }}
              <span hide-xs>из {{ pagingBar.total }}</span>
            </td-paging-bar>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
